{% extends 'auth.html' %}
{% load static %}
{% block auth_form %}
<div class="login-registration-wrapper">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="login-page-form-area">
                    <h4 class="title">Retrieve Password</h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div id="toast">
                            {% for message in messages %}
                            <div class="alert alert-info" role="alert"><strong></strong><i>{{ message }}</i></div>
                            {% endfor %}
                        </div>
                        <div class="single-input-wrapper">
                            <input id="new" type="password" name="new_password" placeholder="New Password" required>
                        </div>
                        <div class="single-input-wrapper">
                            <input type="password" name="confirm_password" placeholder="Re-type New Password" required>
                        </div>

                        <button class="rts-btn btn-primary mt-5" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-thumbnail-login-p mt--100">
                    <img src="{% static 'assets/images/banner/login-bg.png' %}" width="600" height="495"
                         alt="login-form">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock auth_form %}