{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-lg-12">
    <div class="settings-wrapper-dashed">
        <h5 class="title">Upload Clearance Documents</h5>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="setting-change-password-area">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="toast">
                            {% for message in messages %}
                            <div class="alert alert-info" role="alert"><strong></strong><i>{{ message }}</i></div>
                            {% endfor %}
                        </div>
                        {{ form.as_p }}
                        <button class="rts-btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}